<html>
<head>
    <title>Future Jake Kim</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="web_ui.css">
    <script src="web_ui.js"></script>
</head>
<body>
    <div class='flexed'>
        <h1>Jake Kim</h1>
        <h4 style="text-align: center;">(858)123-4567 | jkim@website.com</h4>
    </div>

    <div id="main_content">

        <div class="tab">
            <button class="tablinks" onclick="openTab(event, 'Work')">Work</button>
            <button class="tablinks" onclick="openTab(event, 'Accomplishments')">Accomplishments</button>
            <button class="tablinks" onclick="openTab(event, 'Personal Life')">Personal Life</button>
        </div>

        <div id="Work" class="tabcontent">
            <h3>Current Job</h3>
            <h4>Freelance 3D Model Maker | NOV 2040 - Present</h4>
            <div>After years in the workforce I have retired and make 3D models for myself and occasionally I take commissions for certain clients.</div>

            <br>

            <hr>

            <br>

            <h3>Former Work</h3>
            <h4>Advisor | Qualcomm Institute Innovation Space | JUN 2036 - NOV 2040</h4>
            <div>
                <ul>
                    <li>Advised new start-ups on their tech</li>
                    <li>Helped promote start-ups in the space to investors</li>
                    <li>Gave presentations on how these start-ups can help others</li>
                </ul>
            </div>

            <br>

            <h4>Goldman Sachs | Senior Software Engineer | APR 2030 - MAY 2036</h4>
            <div>
                <ul>
                    <li>Oversaw a team of ten</li>
                    <li>Improved productvity by 14%</li>
                    <li>Maintained profitable despite recession</li>
                </ul>
            </div>

            <br>

            <h4>Goldman Sachs | Software Engineer | JUN 2022 - MAR 2030</h4>
            <div>
                <ul>
                    <li>Maintained finacial database</li>
                    <li>Developed new software to for all employees to access finacial data</li>
                    <li>Optimized old outdated code</li>
                </ul>
            </div>

            <br>

            <h4>Goldman Sachs | Summer Analyst | JUN 2021 - SEPT 2021</h4>
            <div>
                <ul>
                    <li>Assisted in the development of user interfaces</li>
                    <li>Analyzed finaical data</li>
                    <li>Developed software to help analyze data</li>
                    <li>Presented findings weekly to supervisors</li>
                </ul>
            </div>

            <br>

            <h4>Additive Rocket Corporation | Intern | NOV 2018 - DEC 2019</h4>
            <div>
                <ul>
                    <li>Assisted in the production and processing of 3D printed parts in plastic, resin and metal</li>
                    <li>Maintained and used FDM and SLA 3D printer</li>
                    <li>3D modeled parts in CAD</li>
                    <li>Organized inventory of 3D printing materials</li>
                    <li>Designed a python program with OpenCV to do quality control on printed parts</li>
                </ul>
            </div>

        </div>

        <div id="Accomplishments" class="tabcontent">
            <h3>Accomplishments</h3>
            <div>2033 - Autodesk Fusion Design Challenge | Top 10 Winner</div>
            <br>
            <div>2032 - Freemason Lodge La Jolla No. 218 | Senior Warden</div>
            <br>
            <div>2030 - Teal Drone Remix Challenge | Top 20 Winner</div>
            <br>
            <div>2027 - Freemason Lodge La Jolla No. 218 | Master Mason</div>
            <br>
            <div>2027 - Finished an ultramarathon (100 Miles)</div>
            <br>
            <div>2026 - Top 100 at the Boston Marathon</div>
            <br>
            <div>2022 - UC San Diego | Electrical Engineering B.S.</div>
            <br />
            <div>2021-2022 - Nikkei Student Union | President</div>
        </div>

        <div id="Personal Life" class="tabcontent">
            <h3>Personal Life</h3>
            
            <br>
            
            <div>
                <table>
                    <tr>
                        <td>
                            <div>
                                I was born on July 1st, 2000 in San Diego, CA. I had a very average childhood that is not worth going into. When I went to highschool I joined
                                the cross country team and made varsity, so I became a 4 year varsity runner. A tiny accomplishment that I still am weirdly proud about to this
                                day. For college I had the option of going to the small CSU school, Cal Maritime, which was set up like a military school or UCSD, both for
                                engineering. Now it seems like an obvious choice, but at the time it seemed harder especially with the scholarship I got for Cal Maritime. I
                                obviously chose UCSD where I joined the Nikkei Student Union to get more in touch with my japanese side.

                                I have am lucky to have a loving wife for the last 10 years, with which I have 2 annoying little kids that I wouldn't give up for the world.
                                My kids are 8 and 9 respectively. I'm glad they are far away from their rebellious phase. I don't have any real pets despite how much my
                                kids beg for a dog. I only have a tiny betta fish to take care of and I intend to keep it that way. My wife and I though are proud of our kids 
                                no matter how much they annoy us about getting a dog. I personally hope they wind up becoming cross country runners like I was, but my wife
                                is pressing for our kids to do soccer since she played D1 soccer in college. Although to be honest they will probably make us both look dumb
                                and play baseball as they seem to enjoy it a lot.
                            </div>
                        </td>
                        <td><img src='/Profile.jpg' id='pic'></td>
                    </tr>
                    <tr>
                        <td>
                            <div>
                                 
                            </div>
                        </td>
                        <td>Me in 2019 at Coronado Island</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>


</body>
</html>
